<form method="post" action="{{ path('real_estatement_type_delete', {'id': real_estatement_type.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ real_estatement_type.id) }}">
    <button class="btn">Delete</button>
</form>
