{% extends 'base.html.twig' %}

{% block title %}Edit RealEstatementType{% endblock %}

{% block body %}
    <h1>Edit RealEstatementType</h1>

    {{ include('real_estatement_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('real_estatement_type_index') }}">back to list</a>

    {{ include('real_estatement_type/_delete_form.html.twig') }}
{% endblock %}
