{% extends 'base.html.twig' %}

{% block title %}RealEstatementType index{% endblock %}

{% block body %}
    <h1>RealEstatementType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for real_estatement_type in real_estatement_types %}
            <tr>
                <td>{{ real_estatement_type.id }}</td>
                <td>{{ real_estatement_type.name }}</td>
                <td>
                    <a href="{{ path('real_estatement_type_show', {'id': real_estatement_type.id}) }}">show</a>
                    <a href="{{ path('real_estatement_type_edit', {'id': real_estatement_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('real_estatement_type_new') }}">Create new</a>
{% endblock %}
