{% extends 'base.html.twig' %}

{% block title %}New RealEstatementType{% endblock %}

{% block body %}
    <h1>Create new RealEstatementType</h1>

    {{ include('real_estatement_type/_form.html.twig') }}

    <a href="{{ path('real_estatement_type_index') }}">back to list</a>
{% endblock %}
