{% extends 'base.html.twig' %}

{% block title %}RealEstatementType{% endblock %}

{% block body %}
    <h1>RealEstatementType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ real_estatement_type.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ real_estatement_type.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('real_estatement_type_index') }}">back to list</a>

    <a href="{{ path('real_estatement_type_edit', {'id': real_estatement_type.id}) }}">edit</a>

    {{ include('real_estatement_type/_delete_form.html.twig') }}
{% endblock %}
