{% extends 'base.html.twig' %}

{% block title %}Country{% endblock %}

{% block body %}
    <h1>Country</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ country.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ country.name }}</td>
            </tr>
            <tr>
                <th>Markup</th>
                <td>{{ country.markup }}</td>
            </tr>
            <tr>
                <th>Prepayment</th>
                <td>{{ country.prepayment }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('country_index') }}">back to list</a>

    <a href="{{ path('country_edit', {'id': country.id}) }}">edit</a>

    {{ include('country/_delete_form.html.twig') }}
{% endblock %}
