body{
    background: url(http://www.nakoni.pp.ua/wp-content/uploads/2020/03/giig.gif), #f8f8f8;
	background:#f8f8f8;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    background-size: 20%;
}
