<form method="post" action="{{ path('rent_object_delete', {'id': rent_object.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rent_object.id) }}">
    <button class="btn">Delete</button>
</form>
