{% extends 'base.html.twig' %}

{% block title %}Edit RentObject{% endblock %}

{% block body %}
    <h1>Edit RentObject</h1>

    {{ include('rent_object/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('rent_object_index') }}">back to list</a>

    {{ include('rent_object/_delete_form.html.twig') }}
{% endblock %}
