{% extends 'base.html.twig' %}

{% block title %}RentObject index{% endblock %}

{% block body %}
    <h1>RentObject index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>AdditionalAddress</th>
                <th>Images</th>
                <th>Properties</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rent_object in rent_objects %}
            <tr>
                <td>{{ rent_object.id }}</td>
                <td>{{ rent_object.additionalAddress }}</td>
                <td>{{ rent_object.images ? rent_object.images|join(', ') : '' }}</td>
                <td>{{ rent_object.properties ? rent_object.properties|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('rent_object_show', {'id': rent_object.id}) }}">show</a>
                    <a href="{{ path('rent_object_edit', {'id': rent_object.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('rent_object_new') }}">Create new</a>
{% endblock %}
