{% extends 'base.html.twig' %}

{% block title %}New RentObject{% endblock %}

{% block body %}
    <h1>Create new RentObject</h1>

    {{ include('rent_object/_form.html.twig') }}

    <a href="{{ path('rent_object_index') }}">back to list</a>
{% endblock %}
