{% extends 'base.html.twig' %}

{% block title %}RentObject{% endblock %}

{% block body %}
    <h1>RentObject</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rent_object.id }}</td>
            </tr>
            <tr>
                <th>AdditionalAddress</th>
                <td>{{ rent_object.additionalAddress }}</td>
            </tr>
            <tr>
                <th>Images</th>
                <td>{{ rent_object.images ? rent_object.images|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Properties</th>
                <td>{{ rent_object.properties ? rent_object.properties|join(', ') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('rent_object_index') }}">back to list</a>

    <a href="{{ path('rent_object_edit', {'id': rent_object.id}) }}">edit</a>

    {{ include('rent_object/_delete_form.html.twig') }}
{% endblock %}
