<form method="post" action="{{ path('real_estate_object_delete', {'id': real_estate_object.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ real_estate_object.id) }}">
    <button class="btn">Delete</button>
</form>
