{% extends 'base.html.twig' %}

{% block title %}Edit RealEstateObject{% endblock %}

{% block body %}
    <h1>Edit RealEstateObject</h1>

    {{ include('real_estate_object/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('real_estate_object_index') }}">back to list</a>

    {{ include('real_estate_object/_delete_form.html.twig') }}
{% endblock %}
