{% extends 'base.html.twig' %}

{% block title %}RealEstateObject index{% endblock %}

{% block body %}
    <h1>RealEstateObject index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Address</th>
                <th>Images</th>
                <th>Properties</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for real_estate_object in real_estate_objects %}
            <tr>
                <td>{{ real_estate_object.id }}</td>
                <td>{{ real_estate_object.address }}</td>
                <td>{{ real_estate_object.images ? real_estate_object.images|join(', ') : '' }}</td>
                <td>{{ real_estate_object.properties ? real_estate_object.properties|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('real_estate_object_show', {'id': real_estate_object.id}) }}">show</a>
                    <a href="{{ path('real_estate_object_edit', {'id': real_estate_object.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('real_estate_object_new') }}">Create new</a>
{% endblock %}
