{% extends 'base.html.twig' %}

{% block title %}New RealEstateObject{% endblock %}

{% block body %}
    <h1>Create new RealEstateObject</h1>

    {{ include('real_estate_object/_form.html.twig') }}

    <a href="{{ path('real_estate_object_index') }}">back to list</a>
{% endblock %}
