{% extends 'base.html.twig' %}

{% block title %}RealEstateObject{% endblock %}

{% block body %}
    <h1>RealEstateObject</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ real_estate_object.id }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ real_estate_object.address }}</td>
            </tr>
            <tr>
                <th>Images</th>
                <td>{{ real_estate_object.images ? real_estate_object.images|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Properties</th>
                <td>{{ real_estate_object.properties ? real_estate_object.properties|join(', ') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('real_estate_object_index') }}">back to list</a>

    <a href="{{ path('real_estate_object_edit', {'id': real_estate_object.id}) }}">edit</a>

    {{ include('real_estate_object/_delete_form.html.twig') }}
{% endblock %}
